maven-plugin/src/test/resources/unit/test-flatten-config/src/main/wsdl/FlashyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn:test-flatten-config"
             xmlns:tns="urn:test-flatten-config"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema>
      <xs:import namespace="urn:test-flatten-config" schemaLocation="MessageTypes.xsd"/>
    </xs:schema>
    <xs:schema targetNamespace="urn:test-inline" xmlns:tns="urn:test-inline">
      <xs:include schemaLocation="FTypes.xsd"/>
      <xs:element name="InHeader">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FParam" type="tns:SimpleFType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="request">
    <part name="body" element="tns:SomeRQ"/>
  </message>
  <message name="response">
    <part name="body" element="tns:SomeRS"/>
  </message>
  <portType name="FlashyPort">
    <operation name="flash">
      <input name="request" message="tns:request"/>
      <output name="response" message="tns:response"/>
    </operation>
  </portType>
  <binding name="FlashyBinding" type="tns:FlashyPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="flash">
      <soap:operation soapAction="flash"/>
      <input name="request">
        <soap:body use="literal" parts="body"/>
      </input>
      <output name="response">
        <soap:body use="literal" parts="body"/>
      </output>
    </operation>
  </binding>
  <service name="FlashyBindingService">
    <port name="FlashyPort" binding="tns:FlashyBinding">
      <soap:address location="http://localhost/Flashy"/>
    </port>
  </service>
</definitions>
