examples/multi-dependency/service-a/src/main/resources/service/ServiceA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions
    targetNamespace="urn:io.fares.example.service.one"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:om="urn:io.fares.model.example.onem"
    xmlns:os="urn:io.fares.example.service.one"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xsd:schema targetNamespace="urn:io.fares.model.example.onem" xmlns="urn:io.fares.model.example.onem">
      <xsd:include schemaLocation="one-messages/CustomerInterface.xsd"/>
      <xsd:element name="InHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FParam" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="getCustomerByIdRQ">
    <wsdl:part name="body" element="om:GetCustomerByIdRQ"/>
  </wsdl:message>

  <wsdl:message name="getCustomerByIdRS">
    <wsdl:part name="body" element="om:GetCustomerByIdRS"/>
  </wsdl:message>

  <wsdl:portType name="CustomerPort">
    <wsdl:operation name="getById">
      <wsdl:input name="in" message="os:getCustomerByIdRQ"/>
      <wsdl:output name="out" message="os:getCustomerByIdRS"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CustomerBinding" type="os:CustomerPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getById">
      <soap:operation soapAction="getById"/>
      <wsdl:input name="in">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="out">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CustomerBindingService">
    <wsdl:port name="CustomerPort" binding="os:CustomerBinding">
      <soap:address location="http://localhost/Customer"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
