maven-plugin/src/test/resources/unit/catalog/system/uri-prefix-ns/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://some.domain/util" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://some.domain/util" elementFormDefault="qualified">

  <xsd:element name="Fault" type="tns:Fault"/>
  <xsd:complexType name="Fault">
    <xsd:sequence>
      <xsd:element name="Description" type="xsd:string"/>
      <xsd:element name="Cause" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="code" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
